@import "../../Mixins"

.network, .network_active
  cursor: pointer
  width: 264px
  padding: 16px 8px
  @include display( grid )
  @include grid-row-gap( 24px )
  background: #FFFFFF
  box-sizing: border-box
  border-radius: 5px

  & p
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 17px

.network
  border: 1px solid #DEDEDE

  color: #AB9696

.network_active
  border: 1px solid #AC9A9A

  color: #4E4646